.outerTab {
    width: min-content;
    height: min-content;
    aspect-ratio: 1 / 1;
    padding: var(--mantine-spacing-xs);
}
.outerRoot {
    height: unset;
    min-height: 0;

    display: flex;
    flex-direction: column;

    /* ref: https://stackoverflow.com/a/12198561/10744339 */
    & > *:not(:first-child),
    & > *:first-child:nth-last-child(1) {
        height: unset;
        min-height: 0;
    }
}

.outerPanel {
    background-color: transparent !important;

    display: flex;
    flex-direction: column;
    & > * {
        height: unset !important;
    }
}

.bottom {
    & > :first-child {
        flex-grow: 1;
    }

    @media (min-width: $mantine-breakpoint-sm) {
        &[data-position="left"] {
            margin-right: var(--mantine-spacing-sm);
        } 
    }

    
}
