.root {
    position: relative;
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    width: fit-content;
    height: min-content;
    border-radius: var(--mantine-radius-md);
    padding: rem(5px);
    border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
}

.control {
    padding: rem(7px) rem(12px);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
    border-radius: var(--mantine-radius-md);
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
    line-height: 1;
    transition: color 100ms ease;

    z-index: 2;
    background-color: transparent !important;

    @mixin hover {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
    }

    &[data-active] {
        color: var(--mantine-color-white);
    }
}

.controlLabel {
    position: relative;
    z-index: 1;
}

.indicator {
    background-color: var(--mantine-primary-color-filled);
    border-radius: var(--mantine-radius-md);
}

.icon {
    width: rem(16);
    height: rem(16);
}
