.windowTitlebarControls {
    display: flex;
    align-items: stretch;
    right: 0;
    top: 0;
    bottom: 0;
    height: 28px;

    color: var(--mantine-color-gray-6);
}

.windowsOs {
    &Control {
        padding: 0 1.15rem;
        font-size: 0.875rem;
        display: flex;
        height: 100%;
        align-items: center;
        -webkit-app-region: no-drag;

        &:hover {
            background-color: var(--mantine-color-dark-3);
            color: var(--mantine-color-gray-1);
        }
        &Close:hover {
            background: var(--mantine-color-error);
        }
        svg {
            margin-left: 1.2px;
        }
    }
}

.macOs {
    &Control {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.675rem;
        margin-top: 0.25rem;
        color: transparent;
        -webkit-app-region: no-drag;
        opacity: 0.8;

        &:hover {
            opacity: 1;
        }
        &Close {
            background: #f46d60;
        }
        &Maximize {
            background: #59ca56;
        }
        &Minimize {
            background: #f9c04e;
        }
    }
}
