.card {
    height: 100%;
    min-height: rem(250px);
    max-height: rem(400px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    aspect-ratio: 351 / 575;
}

.title {
    font-family: var(--mantine-font-family);
    font-weight: 500;
    line-height: 1.2;
    font-size: var(--mantine-font-size-sm);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    word-break: break-word;

    @mixin dark {
        color: var(--mantine-color-white);
    }
}

.category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px #000000b6;
}

.link {
    text-decoration: none;
}
