#app {
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 100%;
}

/* MANTINE GLOBAL OVERRIDE */
html:root {
    --mantine-scale: 1;
}

html:root[data-mantine-color-scheme="dark"] {
    --mantine-color-dimmed: var(--mantine-color-dark-2);
    --mantine-color-placeholder: var(--mantine-color-dark-2);
}
html:root[data-mantine-color-scheme="light"] {
    --mantine-color-dimmed: var(--mantine-color-gray-6);
    --mantine-color-placeholder: var(--mantine-color-gray-6);
}
