:root {
    overflow: hidden;
}

:root,
body,
#app {
    height: 100%;
}

body {
    margin: 0;
    color: var(--app-color);
    background: var(--app-bgcolor);
}

#app {
    display: flex;
    flex-direction: column;
    user-select: none;

    &.has-border {
        border: var(--app-border-color);
    }
}

/* MANTINE GLOBAL OVERRIDE */
:root {
    --mantine-scale: 1;
}

:root[data-mantine-color-scheme="dark"] {
    --mantine-color-dimmed: var(--mantine-color-dark-2);
}
:root[data-mantine-color-scheme="light"] {
    --mantine-color-dimmed: var(--mantine-color-gray-6);
}
