.container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    background-color: var(--mantine-color-dark-4);
    color: var(--mantine-color-gray-3);

    width: 14rem;
    padding: rem(4px) rem(12px);
    font-size: rem(14px);
    margin: 0;
    border-radius: rem(4px);

    & > * {
        display: flex;
    }

    @mixin light {
        background-color: var(--mantine-color-gray-3);
        color: var(--mantine-color-dark-4);
    }
}

.icon {
    margin-block: auto;
    width: rem(20px);
    height: rem(20px);
    margin-right: 10px;
    opacity: 0.8;
}
