.container {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;

    background: #191919;
    color: #d1d1d1;
    width: 14rem;
    padding: rem(4px) rem(12px);
    font-size: rem(14px);
    margin: 0;
    border-radius: rem(4px);

    & > * {
        display: flex;
    }

    @mixin light {
        background: #fff;
        color: #656565;
    }
}

.icon {
    margin-block: auto;
    width: rem(20px);
    height: rem(20px);
    margin-right: 10px;
    opacity: 0.8;
}
