.root {
    --checkbox-color: var(--mantine-primary-color-filled) !important;
}

.input {
    @mixin dark {
        background-color: var(--mantine-color-dark-3);
    }
    @mixin light {
        background-color: var(--mantine-color-gray-2);
        border-color: var(--mantine-color-gray-5);
    }

    &:checked:not(:disabled) {
        background-color: var(--mantine-color-dark-4);
        @mixin light {
            background-color: var(--mantine-color-gray-1);
        }
    }
}
