.input:not(:checked) {
    + .track {
        @mixin dark {
            background-color: var(--mantine-color-dark-3);
        }

        @mixin light {
            background-color: var(--mantine-color-gray-2);
            border-color: var(--mantine-color-gray-5);
        }
    }
}
