.icon {
    width: rem(16);
    height: rem(16);
}

.tooltip {
    max-width: 60ch;
    z-index: 200;

    @mixin dark {
        background-color: var(--mantine-color-dark-7);
    }
    @mixin light {
        background-color: var(--mantine-color-gray-3);
    }
}

.bookContainer {
    display: grid;
    width: 100%;
    height: 100%;

    & > * {
        min-height: 0;
    }
    .singlePage {
        grid-area: singlePage;
        justify-self: center;
    }

    .leftPage {
        grid-area: leftPage;
        justify-self: end;
    }
    .rightPage {
        grid-area: rightPage;
        justify-self: start;
    }

    grid-template-rows:
        [singlePage-start leftPage-start rightPage-start]
        auto
        [singlePage-end leftPage-end rightPage-end];
    grid-template-columns: auto [singlePage-start leftPage-start] 1fr [leftPage-end] 2rem [rightPage-start] 1fr [rightPage-end singlePage-end] auto;
}
