.titlebarGroup {
    -webkit-app-region: drag; /* Draggable */
    *:not(.logo) {
        -webkit-app-region: no-drag; /* excude interactable children */
    }
}
.logo {
    -webkit-app-region: drag; /* Draggable */
}

.searchGroup {
    flex-basis: 40%;
    padding: 0;

    @media (max-width: $mantine-breakpoint-sm) {
        flex-basis: 60%;
    }
}

.windowControlsGroup {
    align-self: flex-start;
    padding: 0;
}

.burger {
    --burger-color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
}

.icon {
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
}
