/* +++++ Base button +++++ */
.button.btn {
    display: flex;
    justify-content: flex-start;

    background-color: var(--clr-secondary-300);
    color: var(--clr-primary-100);
    transition: all 0.2s ease;

    border: none;
}
/* Hovered */
.button.btn:hover {
    background-color: var(--clr-secondary-100);
    color: var(--clr-primary-100);
}
/* Pressed */
.button.btn:active {
    background-color: var(--clr-secondary-100);
    color: var(--clr-primary-100);
    filter: brightness(75%);
}
/* Removes bulmas' outline   */
.button.btn:focus:not(:active) {
    color: var(--clr-primary-100);
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* Prevents form image icons inside button from being draggable */
.button.btn > * {
    pointer-events: none;
}

/* Additional spacing between button text and icon */
.mantine-Button-leftIcon {
    margin-right: 1rem;
}

/* Danger button */
.button.btn.btn-danger,
.button.btn.btn-danger:active,
.button.btn.btn-danger:hover,
.button.btn.btn-danger:focus:not(:active) {
    color: var(--clr-danger-000);
}

/* Danger button */
.button.btn.btn-danger:active,
.button.btn.btn-danger:hover {
    background-color: var(--clr-danger-100);
}

.btn-divider {
    background-color: var(--clr-primary-300);
    margin: 0.375rem 0;
}
/* +++++ +++++ +++++ +++++ */

/* +++++ Titlebar button +++++ */
.button.btn-titlebar {
    border: none;
    border-radius: 0;

    color: inherit;
    background-color: inherit;
}
/* Hovered */
.button.btn-titlebar:hover {
    background-color: var(--clr-secondary-300);
    color: var(--clr-primary-000);
}
/* Close button is red on hover */
.button.btn-titlebar:last-child:hover {
    background-color: var(--clr-danger);
}
/* Pressed */
.button.btn-titlebar:active {
    filter: brightness(125%);
}
/* +++++ +++++ +++++ +++++ */
