.mantine-Checkbox-input {
    background-color: var(--clr-secondary-300);
    border-color: var(--clr-primary-300);
}
.mantine-Checkbox-input:hover,
.mantine-Checkbox-input:focus-visible {
    background-color: var(--clr-secondary-200);
    border-color: var(--clr-primary-200);
}
.mantine-Checkbox-input:checked {
    background-color: var(--clr-accent-000);
    border-color: var(--clr-accent-000);
}
.mantine-Checkbox-input:checked:hover,
.mantine-Checkbox-input:checked:focus-visible {
    background-color: var(--clr-accent-100);
    border-color: var(--clr-accent-100);
}
.mantine-Checkbox-input:checked:hover + svg,
.mantine-Checkbox-input:checked:focus-visible + svg {
    color: var(--clr-accent-100-contrast-000);
}
.mantine-Checkbox-label {
    color: var(--clr-primary-150);
}

.mantine-Checkbox-input + svg {
    color: var(--clr-accent-000-contrast-000);
}
