.mantine-Input-input.mantine-ColorInput-input,
.mantine-ColorInput-dropdown {
    background-color: var(--clr-secondary-300);
    border-color: var(--clr-primary-300);
}

.mantine-Input-input.mantine-ColorInput-input,
.mantine-InputWrapper-label {
    color: var(--clr-primary-150);
}
