.dropdown > .dropdown-menu {
    min-width: initial;
    display: block;
    opacity: 0;
    visibility: hidden;

    position: absolute;
    left: 0;
    right: 0;

    z-index: -1;
    pointer-events: none;
    transform: translateY(10%);
    transition: all 0.15s ease-in-out;
}

.dropdown.is-active > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: none;
    pointer-events: auto;
    z-index: 1;
}

.dropdown > .dropdown-menu > .dropdown-content {
    background-color: var(--clr-secondary-300);
    opacity: 0.95;
    padding: 0.25rem;
}

.dropdown > .dropdown-menu > .dropdown-content > .dropdown-item {
    padding: 0;
}
.dropdown > .dropdown-menu > .dropdown-content > .dropdown-item > .button {
    width: 100%;
    font-weight: var(--fw-400);
    font-size: var(--fs-250);

    justify-content: flex-start;
}
