.mantine-Autocomplete-input {
    font-family: inherit;
}
.mantine-Input-input.mantine-Autocomplete-input,
.mantine-Autocomplete-control {
    background-color: var(--clr-secondary-300);
    border-color: var(--clr-primary-300);
}

.mantine-Input-input.mantine-Autocomplete-input,
.mantine-Autocomplete-control,
.mantine-InputWrapper-label {
    color: var(--clr-primary-150);
}

.mantine-Autocomplete-input::placeholder {
    color: var(--clr-primary-200);
    opacity: 0.75;
}
