.modal {
    inset: calc(var(--border-width) * 2);
    top: calc(var(--border-width) + var(--titlebar-height));
    left: var(--border-width);
    z-index: 1100;
}

.modal > .modal-content {
    max-height: initial;
    width: 100%;
}

.modal > .modal-content {
    width: min(90%, 70rem);
}

.modal > .modal-close {
    top: calc(20px + var(--border-width) + var(--titlebar-height));
}

.modal img {
    display: block;
    height: 80vh;
    object-fit: contain;
}
