.mantine-Switch-input {
    background-color: var(--clr-secondary-300);
    border-color: var(--clr-primary-300);
}
.mantine-Switch-input:hover,
.mantine-Switch-input:focus-visible {
    background-color: var(--clr-secondary-200);
    border-color: var(--clr-primary-200);
}
.mantine-Switch-input:checked {
    background-color: var(--clr-accent-000);
    border-color: var(--clr-accent-000);
}
.mantine-Switch-input:checked:hover,
.mantine-Switch-input:checked:focus-visible {
    background-color: var(--clr-accent-100);
    border-color: var(--clr-accent-100);
}
.mantine-Switch-label {
    color: var(--clr-primary-150);
}

/* TODO think about styling checkboxes' and switches' inner parts */
/* .mantine-Switch-input::before,
.mantine-Switch-input::before {
    background-color: var(--clr-primary-000);
    border-color: var(--clr-primary-000);
} */
