.root,
.main {
    height: 100%;
}
.main {
    --app-shell-padding: 0;
    --app-shell-edge-offset: var(--mantine-spacing-xs);

    padding-left: var(--app-shell-navbar-offset);
    padding-right: calc(var(--app-shell-aside-offset) + var(--app-shell-edge-offset));
    padding-top: var(--app-shell-header-height);
    padding-bottom: var(--app-shell-edge-offset);

    position: relative;
    z-index: 1;
    background-color: var(--mantine-color-body);

    @media (max-width: $mantine-breakpoint-sm) {
        padding-left: var(--app-shell-edge-offset);
        padding-right: var(--app-shell-edge-offset);
    }

    &::before {
        content: "";
        position: fixed;
        background-color: var(--mantine-color-dark-6);

        border-radius: var(--mantine-radius-lg);
        border: rem(1px) var(--mantine-color-default-border) solid;

        top: var(--app-shell-header-height);
        left: var(--app-shell-navbar-offset);
        right: calc(var(--app-shell-edge-offset) + var(--app-shell-aside-offset));
        height: calc(100% - var(--app-shell-header-height) - var(--app-shell-edge-offset));
        z-index: -1;

        /* TODO properly handle padding on disabled aside in desktop */
        /* right: var(--app-shell-edge-offset); */

        @media (max-width: $mantine-breakpoint-sm) {
            left: var(--app-shell-edge-offset);
            right: var(--app-shell-edge-offset);
        }
        @mixin light {
            background-color: var(--mantine-color-gray-1);
        }
    }
}

.mainBox {
    height: calc(100vh - var(--app-shell-header-height) - var(--app-shell-edge-offset));
}

.header,
.navbar,
.aside {
    border: none;
}

.navbar {
    --app-shell-navbar-width: rem(200px);
    padding-inline: var(--mantine-spacing-sm);
    padding-block: var(--mantine-spacing-md);
    padding-top: calc(var(--mantine-spacing-sm) / 2);

    @media (min-width: $mantine-breakpoint-sm) {
        padding-right: 0;
    }
}
