/* todo novel's extra styles are spilling */
:root {
    --book-component-width: 400px;

    /* 
    400: 513
    600: 413
    800: 313

    400 - 400 * 1.5 + 713 = 513
    -400 + 400 * 1.5 - 713 = -513
    
    */
}
.book-container {
    width: var(--book-component-width);
    margin: auto;
    overflow: hidden;
}

.book-container > #book-content,
.book-container > #page-counter {
    columns: 1;
    column-gap: 0;
    height: var(--book-component-width);
}

.book-container img {
    display: block;
    width: 100% !important;
    height: var(--book-component-width) !important;
    object-fit: contain;
}
ul.book-ui {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.book-ui > *,
#book-title {
    color: #999;
    height: 1.5em;
}
ul.book-ui > #section-name,
#book-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
ul.book-ui > #section-page,
ul.book-ui > #book-page {
    visibility: hidden;
}
