.button-group {
    display: flex;
    gap: 0.5em;
}

:host {
    --book-component-width: 400px;
    --book-component-height: 600px;
    --column-gap: 100px;

    --clr-link: #4dabf7; /* todo move to somewhere */
}

:any-link {
    color: var(--clr-link) !important;
}

.book-container {
    margin: auto;
    width: var(--book-component-width);
    height: min-content;
    overflow: hidden;
}
.book-container > #book-content {
    columns: 1;
    column-gap: var(--column-gap);
    width: var(--book-component-width);
    height: var(--book-component-height);
}

/* TODO svg */
.book-container img {
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    object-fit: contain;
    cursor: zoom-in;
}
ul.book-ui {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.book-ui > *,
#book-title {
    color: var(--clr-primary-200);
    height: 1.5em;
}
ul.book-ui > #section-name,
#book-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
ul.book-ui > #section-page,
ul.book-ui > #book-page {
    visibility: hidden;
}
