.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    aspect-ratio: 351 / 575;

    position: relative;
    overflow: hidden;

    & .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        padding: var(--mantine-spacing-xs);
    }
    @media (min-width: $mantine-breakpoint-xs) {
        padding: var(--mantine-spacing-sm);
    }
    @media (min-width: $mantine-breakpoint-sm) {
        padding: var(--mantine-spacing-md);
    }
}

.titlePaper {
    display: flex;
    position: relative;
    height: 100%;
    flex-grow: 1;

    /* Used as padding, ref: https://stackoverflow.com/a/15364783 */
    padding: 0;
    @media (max-width: $mantine-breakpoint-xs) {
        border: calc(rem(4px) * var(--mantine-scale)) solid transparent;
    }
    @media (min-width: $mantine-breakpoint-xs) {
        border: calc(rem(6px) * var(--mantine-scale)) solid transparent;
    }
    @media (min-width: $mantine-breakpoint-sm) {
        border: calc(rem(8px) * var(--mantine-scale)) solid transparent;
    }
}

.title {
    font-family: var(--mantine-font-family);
    font-weight: 500;
    line-height: 1.2;
    font-size: var(--mantine-font-size-sm);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    word-break: break-word;
    position: absolute;

    @mixin dark {
        color: var(--mantine-color-white);
    }
    @mixin light {
        color: var(--mantine-color-black);
    }
}

.category {
    color: var(--mantine-color-white);
    opacity: 0.7;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px #000000b6;
}

.link {
    text-decoration: none;
    /* width: min-content; */
    width: 100%;
    height: 100%;
    /* display: block; */

    /* min-height: rem(250px);
    max-height: rem(400px); */

    user-select: none;
    -webkit-user-drag: none;
}
