.complex-setting .mantine-Group-child {
    width: 80%;
}
.complexInput-accordion .mantine-Accordion-item {
    background-color: transparent;
}

.complexInput-accordion .mantine-Accordion-item[data-active] {
    background-color: var(--clr-secondary-100);
}
.complexInput-accordion .mantine-Accordion-item > div:first-child {
    align-items: flex-start;
}
.complexInput-accordion .mantine-Accordion-item .mantine-Accordion-control {
    flex: 1;
    padding: 0;
    padding-block: 1rem;
    cursor: default;
}
.complexInput-accordion .mantine-Accordion-content,
.complexInput-accordion .mantine-Accordion-control {
    padding: 0;
}
.complexInput-accordion .mantine-Accordion-item .mantine-Switch-root {
    gap: 0.5rem;
    /* TODO from 5 to 12 px too high */
    margin-top: 2rem;
    margin-right: 2rem;
    height: 100%;
    flex-direction: column-reverse;
}
.complexInput-accordion .mantine-Accordion-item .mantine-Switch-label {
    padding: 0;
}

.complexInput-accordion .mantine-Accordion-label > .mantine-Group-root,
.complexInput-accordion .mantine-Accordion-content .mantine-Group-root {
    gap: 0;
}

.complexInput-accordion .mantine-Accordion-label .btn.btn-ghost,
.complexInput-accordion .mantine-Accordion-content .btn.btn-ghost {
    margin-inline: 5px;
}
