.mantine-HoverCard-dropdown {
    background-color: var(--clr-secondary-300);
    color: var(--clr-primary-150);
}

.mantine-HoverCard-dropdown,
.mantine-HoverCard-dropdown * {
    max-width: 35vw;
}
