.card {
    position: relative;
    overflow: visible;
    padding: var(--mantine-spacing-xl);
    padding-top: calc(var(--mantine-spacing-xl) * 1.5 + rem(20px));
}

.icon {
    position: absolute;
    top: rem(-20px);
    left: calc(50% - rem(30px));
}

.content {
    background: transparent;
}

.closeButton {
    position: absolute;
    margin: rem(8);
    right: 0;
    top: 0;
}
