.library-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0;
}
.spinner {
    margin-top: min(10rem, 10%);
}

.card-list {
    display: grid;
    justify-content: center;
    /* max-width: min(calc(100% - 2rem), 90rem); */
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1.5rem;
    row-gap: 2rem;
}

.card-list > * {
    padding: 1rem 1rem 0 1rem;
}

.card-list > .no-cards {
    display: flex;
    flex-direction: column;

    place-self: center;
    border: 9px dotted var(--clr-accent-000);
    padding-inline: 2rem;
    gap: 0.3rem;
}

.card-list > .no-cards > span {
    text-align: center;
    padding: 0.8rem;
    margin-bottom: 0.2rem;

    font-family: var(--ff-exo);
    line-height: var(--line-height);
    color: var(--clr-accent-000);
    font-weight: 1000;
}
