.section.library-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.spinner {
    margin-top: min(10rem, 10%);
}

.card-list {
    display: grid;
    max-width: min(90vw, 90rem);
    grid-template-columns: repeat(
        auto-fit,
        minmax(14rem, 1fr)
    ); /* TODO 14rem as a card size setting */
    gap: 1.5rem;
    row-gap: 3rem;
    /* margin-inline: auto; */
}

.card-list > a {
    padding: 1rem 1rem 0 1rem; /* For nicely lining up card's tabbing outline */
}
