.library-container {
    position: relative;
}
.limit-width {
    max-width: calc(35rem + 30vw);
    width: calc(100% - var(--window-edge-padding) * 2);
    margin: 0 auto;
}
.card-group-list.grouped {
    --carousel-padding: 2.5rem;
    position: absolute;
    left: calc(var(--window-edge-padding) * -1);
    right: calc(var(--window-edge-padding) * -1);
}

.mantine-Carousel-root {
    background-color: var(--clr-secondary-100);
    padding-top: 4rem;

    box-shadow: var(--shadow-inset-000);
}
.carousel-title {
    justify-content: space-between;
}
.mantine-Carousel-container {
    gap: 1.5rem;
}

.mantine-Carousel-controls {
    inset: 0;
    padding: 0;
    bottom: 0.875rem;
}
.mantine-Carousel-controls svg {
    width: 8.5rem;
    height: 8.5rem;
}

.mantine-Carousel-controls .mantine-Carousel-control {
    width: 2.5rem;
    height: 100%;
    border-radius: 0;
    background-color: hsl(var(--clr-secondary-100-hsl) / 0.75);
    color: var(--clr-primary-100);
    border-color: transparent;
    background-color: transparent;
}

.mantine-Carousel-slide a {
    outline-offset: 1rem;
}
.mantine-Carousel-slide .card,
.mantine-Carousel-container {
    height: 18.5rem;
    width: 11.3125rem;
}

.grouping-accordion .mantine-Accordion-panel {
    height: 400px;
}
.grouping-accordion .mantine-Accordion-panel > div,
.grouping-accordion .mantine-Accordion-content,
.grouping-accordion .mantine-Carousel-root,
.grouping-accordion .mantine-Carousel-slide,
.grouping-accordion .mantine-Carousel-viewport {
    height: 100%;
}

.grouping-accordion .mantine-Accordion-chevron {
    display: none;
}

.grouping-accordion .mantine-Accordion-content {
    padding: 0;
}
.grouping-accordion .mantine-Accordion-control:hover {
    background-color: var(--clr-secondary-300);
}
