.viewport {
    & > div {
        display: block !important;
        height: unset !important;
    }
}

.scrollbar {
    margin: rem(2px);
}

.box {
    display: flex;
    flex-direction: column;
    min-height: 0;
}
