.ui {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding-inline: var(--mantine-spacing-sm);

    height: 100%;
    width: 100%;
}
.uiBlock {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    flex-basis: content;

    list-style: none;
    padding: 0;
    margin: 0;

    background-color: teal;

    & > * {
        flex: 1;
    }
    & > *:not(:first-child):last-child {
        display: flex;
        justify-content: flex-end;
    }
    & > .digit-elem {
        flex: 0.2;
    }
}

.pageElem {
    display: flex;
    justify-content: center;
}
.uiElem {
    color: var(--clr-primary-200);
    height: 1.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.componentContainer {
    flex-grow: 1;
    /* height: 0; */
    /* height: 100%; */
}
