.top {
    display: grid;

    grid-auto-flow: column;
    grid-template-columns: var(--mantine-spacing-md) repeat(5, 1fr) var(--mantine-spacing-md);
    grid-template-rows: rem(24);
    gap: 0;
}
.topLeft {
    grid-row: 1;
    grid-column: 1 / 2;
    align-self: start;
    justify-self: start;
}

.topCenter {
    grid-row: 1;
    grid-column: 2 / -2;
}

.topRight {
    grid-row: 1;
    grid-column: -2 / -1;
    align-self: start;
    justify-self: end;
}

.bookmark {
    outline-offset: -3px;
}

.lineClamp {
    @mixin lineClamp 1;
}

.buttonContainer {
    --b-padding: var(--mantine-spacing-xl);
    position: relative;
    padding-inline: var(--b-padding);

    .backwardButton {
        position: absolute;
        width: var(--b-padding);
        left: 0;
        top: var(--b-padding);
        bottom: var(--b-padding);
    }

    .forwardButton {
        position: absolute;
        width: var(--b-padding);
        right: 0;
        top: var(--b-padding);
        bottom: var(--b-padding);
    }
}

.bookContainer {
    height: 100%;
    margin: auto;
    gap: rem(24);

    display: flex;
    & > * {
        flex: 1;
        min-width: 0;
        flex-basis: 50%;
    }
}

.icon {
    height: rem(16);
    width: rem(16);
}

.layoutControlRoot {
    padding: 0;
}
