:root {
    --hsl-accent: 190 29% 35%;

    --clr-primary: #dcddde;
    --clr-secondary: #8e9297;
    --clr-danger: #d31223;

    --clr-bg-darkest: #17191b;
    --clr-bg-primary: #202225;
    --clr-bg-secondary: #2f3136;

    --titlebar-height: 32px;
    --scrollbar-width: 12px;
    --border-width: 1px;
}

* {
    box-sizing: border-box;
}
:focus-visible {
    outline: -webkit-focus-ring-color auto 1px !important; /* Consistent tabbing outline */
}

html,
body,
#root {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

html {
    background-color: var(--clr-bg-primary);

    padding-right: var(--border-width);
    padding-bottom: var(--border-width);
}

body {
    border: var(--border-width) solid #48545c;

    color: var(--clr-primary);
    background-color: var(--clr-bg-primary);
}

/* todo separate css in files */

#titlebar {
    height: var(--titlebar-height);
    width: calc(100% - var(--border-width) * 3);

    display: flex;
    position: fixed;
    z-index: 1000;
    background-color: var(--clr-bg-darkest);
    user-select: none;
}
#titlebar > #drag-region {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 0.25em;
    overflow: hidden;

    -webkit-app-region: drag;
}
#titlebar > #drag-region > .window-title {
    font-size: 12px;
    font-family: "Segoe UI", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#titlebar > .window-control-buttons {
    display: flex;
}
#titlebar > .window-control-buttons > .button {
    height: 100%;
    width: 46px;
    color: inherit;
    background-color: inherit;
    border: none;
    border-radius: 0;
    padding-top: 5px;
}
#titlebar > .window-control-buttons > .button:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#titlebar > .window-control-buttons > .button:hover {
    transition: all 0.2s ease;
    background-color: var(--clr-bg-secondary);
    color: white;
}
#titlebar > .window-control-buttons > .button:active {
    filter: brightness(125%);
}

@media (-webkit-device-pixel-ratio: 1.5),
    (-webkit-device-pixel-ratio: 2),
    (-webkit-device-pixel-ratio: 3) {
    #titlebar > .window-control-buttons > .button > img {
        width: 10px;
        height: 10px;
    }
}
#titlebar > .window-control-buttons > #close-button:hover {
    background-color: var(--clr-danger);
}
#titlebar .logo {
    padding: 4px;
    height: var(--titlebar-height);
    width: var(--titlebar-height);
}

#main {
    width: 100%;
    height: 100%;

    padding: 20px;
    padding-top: var(--titlebar-height);
    overflow-x: hidden;
    overflow-y: auto;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
    background: transparent;
}
:hover::-webkit-scrollbar-thumb {
    background: transparent;
    background: hsl(0 0% 29% / 0.75);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(0 0% 35% / 1);
}

#main::-webkit-scrollbar-track {
    margin-top: var(
        --titlebar-height
    ); /* Scrollbar adjusted for titlebar height */
}
