#titlebar {
    height: var(--titlebar-height);
    width: calc(100% - var(--border-width) * 3);

    display: flex;
    position: sticky;
    z-index: 1000;
    background-color: var(--clr-secondary-100);
    user-select: none;
}
#titlebar > #drag-region {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 0.25em;
    overflow: hidden;

    -webkit-app-region: drag;
}
#titlebar > #drag-region > .window-title {
    font-size: 12px;
    font-family: "Segoe UI", sans-serif;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#titlebar > .window-control-buttons {
    display: flex;
}

#titlebar > .window-control-buttons > .button {
    height: 100%;
    width: 46px;
    padding-top: 5px;
}

@media (-webkit-device-pixel-ratio: 1.5),
    (-webkit-device-pixel-ratio: 2),
    (-webkit-device-pixel-ratio: 3) {
    #titlebar > .window-control-buttons > .button > img {
        width: 10px;
        height: 10px;
    }
}
#titlebar .logo {
    padding: 4px;
    height: var(--titlebar-height);
    width: var(--titlebar-height);
}
